version: '3.8'

services:
  db:
    image: postgres:16-alpine 
    container_name: postgres_db
    restart: always
    env_file: 
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  app:
    build: . 
    container_name: go_app
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8080" 
    depends_on:
      - db
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge

